#tg-preview {
  flex: 1;
  margin: 40px;
  width: calc(100% - 80px);
  height: calc(100vh - 80px);
  border: 0;
  border-radius: 15px;
  max-width: 700px;
  max-height: 500px;
}

@media (max-width: 600px) {
  #tg-preview {
    display: none;
    flex: 0;
  }
}
