.about__container {
  max-width: 700px;
}

.logo {
  height: 94px;
  margin: 40px 40px 36px 42px;
  padding: 8px;
  border-radius: 15px;
  background-color: #ffffff9f;
  cursor: pointer;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #ffffffaa);
}

.about__logo-and-title {
  display: flex;
}

.about__title {
  align-self: center;
  color: rgb(0, 0, 0);
}

.about__description {
  margin: 20px 40px 40px 40px;
  padding: 8px;
  border-radius: 15px;
  background-color: #ffffff44;
}

.documentation-link {
  color: white;
  margin: 40px;
  padding: 8px 20px;
  border-radius: 15px;
  border: 0;
  background-color: #0000009f;
  width: fit-content;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 15px;
}

.documentation-link:hover {
  rotate: 2deg;
  scale: 1.02;
  background-color: #000000ae;
}

@media (max-width: 600px) {
  .about__container {
    margin-bottom: 60px;
  }

  .logo {
    margin: 40px 20px 36px 42px;
  }

  .about__title{
    font-size: 42px;
  }
}

@media (max-width: 400px) {
  .logo{
    margin-left: 20px;
    margin-right: 20px;
    height: 72px;
  }

  .about__title{
    font-size: 34px;
  }

  .about__description {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    font-size: 16px;
    border-radius: 0;
  }
}
