main {
  width: 100%;
  background-image: linear-gradient(
      #99999921 1.4000000000000001px,
      transparent 1.4000000000000001px
    ),
    linear-gradient(
      to right,
      #99999921 1.4000000000000001px,
      #e5e5f722 1.4000000000000001px
    );
  background-size: 32px 32px;
  background-image: radial-gradient(#ffffff 1px, transparent 1px);
}

.about-and-telegram {
  display: flex;
  justify-content: center;
}
